.MenuButton {
  background-color: #ddd;
  /*border: 1px solid black;*/
  line-height: 1.5;
  padding: 0 1.5em;
  text-align: left;
  border: 0 none;
  color: rgb(33, 33, 33);
  margin: 0;
  text-decoration: none;
}

.MenuButton:hover {
  background: #399;
  color: #fff;
}

.Menu {
  display: flex;
  flex-direction: column;
  background-color: #393;
  z-index: 1;
}

.MenuItem {
  background-color: #ddd;
  line-height: 1.5;
  padding: 0 1.5em;
  text-align: left;
  border: 0 none;
  color: rgb(33, 33, 33);
  margin: 0;
  text-decoration: none;
}

.MenuItem:hover {
  background: #06c;
  color: #fff;
}